*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url("https://acm2023.github.io/Italika_WebPage/ITALIKRACK/Slider fondo.png");
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* seccion para imagenes*/

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* dropdown  */

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(255, 255, 255. 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

/* responsive */

@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
	.img .logo{
		width: 100px !important;
	}
    
    /* ESPALDO */
    .Respaldo h2 {
		display: flex;
        text-align: center;
        margin-left: 30PX !important;
        margin-right: 30PX !important;

	}

	.Respaldo_2 {
        margin-top: 0px !important;
		display: flex;
		flex-direction: column;
		align-items: center;
        background-color: white;
        
	}
    .Respaldo {
        height: 2050PX !important;
    }
	.item {
		text-align: center;
		margin-bottom: 30px;
	}

	
    .Respaldo_2 img {
        width: 250px !important;
    }

	.item h3 {
		font-size: 30px;
		margin-bottom: 5px;
	}

	.item p {
		font-size: 20px;
		line-height: 1.3;
	}

    /*CONTACTANOS*/
    .poster {
		margin-left: -300px !important;
	}
	.poster .post1 {
		background-color: white;
		height: 590PX !important;
		width: 340PX !important;
		margin-bottom: 50PX;
		margin-left: 75px !important;; 
	}
    .form2{
        width: 340px !important;
    }
	.Contactanos {
		flex-direction: column;
		height: 1700px !important;
		
        
	}
	

	.Formulario {
		margin-left: -500px;
        width: 50px !important; 
        display: flex;
	}
    .formulario2{
       
        width: 10px !important;
    }
  
	.Formulario h2 {
		font-size: 18px !important;
		margin-right: 10px;
		margin-top: 40px;
		white-space: nowrap;
		margin-bottom: 50px;
	}
    .enviar{
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
    .Formulario input {
        width: 300px !important;
        height: 20px;
        padding: 10px;
        margin-bottom: 25px;
        border: none;
        border-bottom: 2px solid white;
        background-color: transparent;
        color: white !important;
    
    }
    .Formulario textarea {
        width: 300px !important;
        height: 100px;
        padding: 10px;
        margin-bottom: 25px;
        border: none;
        border-bottom: 2px solid white;
        background-color: transparent;
        color: white !important;
    }
   
    /* RESPALDO */
    /*================MAPA==========================*/
    .Distribuidores {
        background-color: white;
    }
    .Distribuidores_div_main {
		flex-direction: column-reverse;
	}

	#search,
	#distritos {
		width: 200PX !important;
	}

	#distritos {
		height: auto;
	}

	.Distribuidores iframe {
		height: 600px !important;
        width: 300px !important;
		margin-bottom: 50px;
	}
	.Distribuidores h2 {
		font-size: 40px !important;
		margin-top: 0;
		margin-left: 1000px;
	}
    /*================MAPA==========================*/

    /* FOOTER */
    .footer-custom{
        height: 700px !important;
    }
    
    /* FOOTER */
} 
/* ===================================== */

/* SECCION 3 : ABOUT */
.About {
    background-image: url('https://acm2023.github.io/Italika_WebPage/ITALIKRACK/fondo-quienes-somos.png');
}

.About .About_2 {
    height: 994px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.About .About_2 .About_3 {
    margin-left: 150px;
}

.About_3 h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
}

.About_3 p {
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.About {
    background-image: url('https://acm2023.github.io/Italika_WebPage/ITALIKRACK/fondo-quienes-somos.png');
}

.About .About_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.About .About_2 .About_3 {
    margin-left: 150px;
}

.About_3 h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
}

.About_3 p {
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* ===================================== */

/* SECCION 4 : RESPALDO */
.Respaldo {
	background-color: white;
	;
	margin: -15px 0;
    height: 400px;
}

.Respaldo h2 {
	color: #13226E;
	margin-top: 15px;
	margin-left: 220px;
	font-size: 50px;
	font-family: 'Rubik', sans-serif;
}

.Respaldo .Respaldo_2 {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.Respaldo_2 div {
	text-align: center;
	margin: 20px;

}

.Respaldo_2 img {
	width: 100px;
}

.Respaldo_2 h3 {
	color: #13226E;

}

.Respaldo_2 p {
	color: #13226E;
}
/*===========================================*/
.Distribuidores {
	text-align: center;
	color: #00205b;
	font-family: 'Rubik', sans-serif;
    height: 1200px;
	background-color:#f1f1f1;
	
}

.Distribuidores_div_main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.Distribuidores h2 {
	font-size: 50px;
	margin-top: 0;
	margin-right: 1000px;
}

#search {
	width: 1000px;
	height: 30px;
	margin-bottom: 20px;
}

.Distribuidores_div {
	margin-bottom: 20px;
}

h3 {
	font-size: 20px;
}

#distritos {
	width: 300px;
	height: 50px;
}

.Distribuidores iframe {
    height: 900px;
    width: 1500px;
    margin-bottom: 50px;
}
/* SECCION 5 : DISTRIBUIDORES */
/*===========================================*/
/* SECCION 6 : CONTACTANOS */
.Contactanos {
	background-image: url('https://acm2023.github.io/Italika_WebPage/ITALIKRACK/fondo-contacto.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	color: white;
	height: 1000px;
	
}
.poster {
	width: 50%;
	padding: 50px;
	margin-left: 300PX;
}

.poster .post1 {
    background-color: white;
	height: 600PX;
	width: 600PX;
	margin-bottom: 50PX
}

.Formulario {
	width: 50%;
	padding: 50px;
}

.Formulario form {
	margin-top: 20px;
	margin-left: 100px;
	justify-content: center;
}

.Formulario h2 {
	font-size: 40px;
	margin-top: 40px;
}

.Formulario div {
	display: flex;
	flex-direction: column;
	margin-right: 700px;
}

.Formulario label {
	font-weight: bold;
	width: 100px
}

.Formulario input {
	width: 500px;
	height: 20px;
	padding: 10px;
	margin-bottom: 25px;
	border: none;
	border-bottom: 2px solid white;
	background-color: transparent;
	color: transparent"

}
.Formulario textarea {
	width: 500px;
	height: 100px;
	padding: 10px;
	margin-bottom: 25px;
	border: none;
	border-bottom: 2px solid white;
	background-color: transparent;
	color: transparent
}

.Formulario button {
	font-family: 'Rubik', sans-serif;
	;
	font-weight: bold;
	background-color: white;
	color: #13226E;
	border: none;
	padding: 10px 20px;
	margin-left: 300px;
	height: 80px;
	width: 200px
}

/* FOOTER ESTILOS */
.footer-gray {
	background-color: #002058;
	width: 100%;
}

.footer-custom {
	color: white;
	font: normal normal 12px/1.4 'Open Sans', sans-serif;
	max-width: 1008px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 24px;
}

.footer-custom:after {
	display: table;
	clear: both;
	content: "";
}

.footer-lists:after {
	display: table;
	clear: both;
	content: "";
}

.ftr-hdr {
	color: white;
	font: 22px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
	margin: 1em 0 0;
}

@media only screen and (min-width: 768px) {
	.ftr-hdr {
		font-size: 18px;
	}
}

.footer-list-wrap {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

@media only screen and (min-width: 568px) {
	.footer-list-wrap {
		width: 33.3333%;
	}
}

@media only screen and (min-width: 768px) {
	.footer-list-wrap {
		width: 25%;
	}
}

.ftr-links-sub {
	padding: 0;
	margin: 0;
}

.ftr-links-sub:after {
	display: table;
	clear: both;
	content: "";
}

.ftr-links-sub li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 3px 0;
	color: white;
	font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform: uppercase;
	/*width: 150px;*/
}

.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
	text-decoration: none;
	color: white;
	padding: 5px 0;
	display: block;
}

.footer-custom .footer-legal a {
	display: inline;
}

.footer-custom a:hover,
.footer-custom a:active,
.ftr-links-sub li .link:hover {
	text-decoration: underline;
	color: white;
	cursor: pointer;
}

@media only screen and (min-width: 768px) {

	.footer-custom a,
	.footer-custom a:link,
	.footer-custom a:visited,
	.ftr-links-sub li .link {
		padding: 0;
	}
}

/* BEGIN EMAIL CAPTURE STYLES*/

.footer-email {
	text-align: center;
}

#ftrEmailForm {
	height: 44px;
}



#ftrEmailForm #ftrEmailInput {
	background: none repeat scroll 0 0 #FFF;
	border: 1px solid #D6D6D6;
	box-sizing: border-box;
	color: white;
	float: left;
	font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding: 5px;
	width: 70%;
	height: 100%;
}

#ftrEmailForm #ftrEmailInput:hover {
	border: 1px solid #888;
}

#ftrEmailForm #ftrEmailInput:focus {
	border: 1px solid #ef9223;
	outline: #ef9223 auto 5px;
}

#ftrEmailForm .button {
	width: 30%;
	height: 100%;
	padding: 5px;
	float: left;
	border: 1px solid #DFDFDF;
	box-sizing: border-box;
	color: #000;
	font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	background: #FFF;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e1e1e1));
	background: -webkit-linear-gradient(top, white 0, #e1e1e1 100%);
	background: -moz-linear-gradient(top, white 0, #e1e1e1 100%);
	background: -ms-linear-gradient(top, white 0, #e1e1e1 100%);
	background: -o-linear-gradient(top, white 0, #e1e1e1 100%);
	background: linear-gradient(to bottom, white 0, #e1e1e1 100%);
	cursor: pointer;
	vertical-align: middle;
	outline: none;
}

#ftrEmailForm .button:hover,
#ftrEmailForm .button:active {
	background: black;
	color: white;
	outline: none;
}

/* BEGIN SOCIAL STYLES*/

.footer-social {
	text-align: center;
}

.footer-social ul {
	padding: 0;
	display: inline-block;
	list-style-type: none;
}

.footer-social ul:after {
	display: table;
	clear: both;
	content: "";
}

.footer-social li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0;
}

@media only screen and (min-width: 768px) {
	.footer-lists {
		width: 100%;
	}

	.footer-email {
		width: 50%;
		float: left;
		text-align: left;
	}

	.footer-social {
		width: 45%;
		margin-left: 5%;
		float: left;
		text-align: left;
	}
}

@media only screen and (min-width: 1008px) {
	.footer-lists {
		width: 66.6666%;
		float: left;
	}

	.footer-email {
		width: 33.3333%;
	}

	.footer-social {
		width: 33.3333%;
		float: right;
		margin-left: 0;
	}
}

.footer-legal {
	padding: 15px 0 0;
	clear: left;
}

.footer-payment {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.footer-legal {
		width: 66.6666%;
		float: left;
	}

	.footer-payment {
		width: 33.3333%;
		float: left;
	}
}

@media only screen and (min-width: 1008px) {
	.footer-payment {
		text-align: left;
	}
}

.footer-payment ul {
	padding: 0;
	display: inline-block;
	list-style-type: none;
}

.footer-payment ul li {
	display: inline-block;
	margin: 0 6px;
}

@media only screen and (min-width: 1008px) {
	.footer-payment ul li.ftr-stella {
		margin-left: 0;
	}
}

.ftr-bbb span,
.ftr-stella span {

	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	margin: 0;
	padding: 0;
}

.ftr-bbb span {
	background-position: -339px -8px;
	width: 96px;
}

.ftr-stella span {
	background-position: -339px -107px;
	width: 57px;
}

.fondo_principal {
	overflow: hidden;
}

.slider {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider ul {
	display: flex;
	animation: cambio 16s infinite linear;
	width: 300%;
	margin: 0;
	padding: 0;
	list-style: none;
}

/* .slider li {
	width: 33.333%;
} */



@media (max-width: 767px) {
	.footer-custom {
		flex-wrap: wrap;
	}

	.footer-lists,
	.footer-email,
	.footer-social,
	.footer-legal {
		flex-basis: 100%;
	}

	.footer-legal {
		text-align: center;
	}

	.footer-legal img {
		max-width: 100px;
		margin: 20px auto;
		display: block;
	}
}


/* FOOTER ESTILOS */